@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

:root {
  --gradient:linear-gradient(45deg,
   #c4b389, 
   #6bd6ba,
   #68c8e3, 
   #d786d9,
   #a88a51); 
   --dblue: dodgerblue; 
}
.m-log-btn{
	background-color: transparent;
	border: none;
	margin:0px 0px 5px 0px;
	font-size: 18px;
	text-decoration: underline;
}
body{
	background-image: var(--gradient);
	background-attachment: fixed;
	background-size: 500%;
	min-height: 100vh;
	animation: bg-amin 15s infinite alternate;
}
.container1{
	height: auto;
	width: 100%;
	position: relative;
}
@keyframes bg-amin{
	0%{background-position: left;}
	100%{background-position: right;}
}

input[type='text'],input[type='password'],input[type='number']{
	margin-top: 20px;
	height: 40px;
	width: 200px;
	padding:10px 15px;
	border: 2px solid #000;
	border-radius: 30px;
	padding-left: 40px;
}
input:focus[type='text'],input:focus[type='password'],input:focus[type='number']{
	border: 2px solid var(--dblue);
	box-shadow: 0 0 15px var(--dblue);
}
.text{
	position: relative;
}
.text i {
    position: absolute;
    top: 1px;
    left: 13px;
    font-size: 20px;
    color:#000;
}
input:focus[type='text']+i,input:focus[type='password']+i,input:focus[type='number']+i{
	color: var(--dblue);

}

.loginbox{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:50%;
	height: 50%;
	border-radius: 30px;
	background: rgba(0,0,0,0.3);
	text-align: center;
}
.con{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

#month-data,#month-data-1{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-45%);
	height: 80%;
	width: 80%;
	background: white;
	border: 2px solid red;
	overflow: scroll;
	
}
#month-data{
	display: none;
}
#fine{
	display: none;
}
.fine-close{
position: absolute;
right:10px;
top:10px;
background: red;
border-radius: 50%;
height: 30px;
width: 30px;
text-align: center;
z-index: 9999;
}
.bg-light {
    background-color: rgba(11,119,119,0.5) !important;

}
.nav-link{
	color:#fff!important;
}
.d-date{
	margin: 0px 50% 0px 50%;
	transform: translateX(-50%);
	padding: 10px;
	background: rgba(23,74,54,0.4);
	width: 50%;
	border-radius: 20px;

}
.dates{
	text-decoration: underline;
	color: blue;
	font-size: 18px;
}
.table-month-log{
}
td,th{
	padding:2px 10px 5px 10px;
}
nav{
	z-index: 999;
}
.add-form{
	font-size: 18px;
	font-family: 'Courgette';
	color: #fff;
}
form input[type=submit],#new_price_button,#click-number-update,#ipbtn,.btn-style{
	color:#fff;
	width: 100px;
	background: linear-gradient(45deg, #39a355 , #23dbd2)!important;
	border-radius: 20px;
	margin:10px 0px;
	padding: unset;
	height: 35px;
	transition: all 0.5s ease-in-out;
	position: relative;
}
.form-child-1{
}

.member-table a{
	color:#000;
}

table{
	color:#fff;
}
.hidden{
	display: none;
}
#m-edit{
	position: fixed;
	height: 80vh;
	width: 90%;
	transform: translateX(50%);
	background-color: #fff;
	display: none;
}

.fine-adder{
	display:none;
	position: absolute;
	top:15%;
	left: 10%;
	height: 50vh;
	width: 80%;
	background: #fff;
}
#fine_button{
	position: fixed;
	bottom: 20px;
	right:20px;
	padding: 10px;
	border-radius: 30px;
}
.deposits{
	color:#fff;
}
.center{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding:20px;
}
.center-this{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.center-fix{
	 
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.confirmation{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100px;
	width:200px;
	background:#fff;
}
.white{
	color: #fff;
}
.bg-alert,.error{	
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	border-radius: 20px;
	color: #000;
	z-index: 9999999;
}
.bg-alert{
	background-color: rgba(212, 255, 0,0.9);
}
.error{
	background-color: red;
}

@media screen and (max-width: 400px) {
  
  .loginbox{
  	width: 90%;
  }
  .loginbox input{
  	width: 250px;
  	height: 40px;
  	border-radius: 20px;
  }
  
	#month-data{
		width: 98%;
	}
	
}
	
}
@media screen and (min-height: 500px) {
  
  .loginbox{
  	height: 100%;
  }
  
}
/*hover effect ko lagi*/
@media screen and (min-width: 992px){
	nav ul li a{
		position: relative;
		border-right: 0px solid white;
	}
	nav ul li a:before,nav ul li a:after{
		content: "";
		position: absolute;
		width:0%;
		height: 3px;
		background-color: white;
		transition: all 0.5s linear;
	}
	nav ul li a:after{
		right:0px;
		top:0%;
	}nav ul li a:before{
		left:0px;
		top:100%;
	}
	nav ul li a:hover:before,nav ul li a:hover:after{
		display: block;
		width: 100%;
	}
	nav ul li a:hover{
		

	}

	.active a:before,.active a:after{
		content: "";
		position: absolute;
		width:100%;
		height: 3px;
		background-color: white;
	}
}

@media screen and (max-width: 991px){
.active{
	background-color: rgba(0,0,0,0.4);
	margin-bottom: -7px;
}
form input[type=submit]{
	border-radius: 20px!important;
	width: 210px!important;
	background: 
	height:40px!importants;
	}

}
.gghh{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@font-face{
	font-family: "deathnote";
	src : url("../font/deathnote.woff") format("woff");
}
.use_it_div{
	display: flex;
	justify-content: space-around;
}
.use_it{
	font-family: "deathnote";
	text-transform: uppercase;
	text-decoration: underline;
	font-size:35px;
	background: transparent;
	border:unset;
}
.appear{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: yellow;
	border:2px solid black;
	border-radius: 30px;
	padding: 20px;
}



.monthly-log-href{
	background: transparent;
	text-decoration: underline;
	border: 0px;
	color: rgb(186, 212, 206);
}
.monthly-log-href:hover{
	color: #fff;
}

form input[type=submit]:hover,#new_price_button:hover{
	border: 2px solid #fff;
}


		input[type="checkbox"]{
			height: 17px;
			width: 30px;
			-webkit-appearance:none;
			background: black;
			border-radius: 30px;
			position: relative;
			transition: .5s;
		}
		input:checked[type="checkbox"]{
			background: white;
			box-shadow: 0 0 10px #fff;
		}
		input[type="checkbox"]:before{
			content: '';
			height:83.33%;
			width:50%;
			position: absolute;
			top:7%;
			left:5%;
			background: red;
			border-radius: 50%;
			transition: all 0.5s linear;

		}
		input:checked[type='checkbox']:before{
			left:45%;
		}
		input[type="checkbox"]:after{
			content: '';
			height:33.33%;
			width:16.67%;
			position: absolute;
			top:34%;
			left:32%;
			background: black;
			box-shadow: 0 0 4px #000;
			border-radius: 50%;
			transition: all 0.5s linear;

		}
		input:checked[type='checkbox']:after{
			left:73%;
			background: white;
			box-shadow: 0 0 10px #fff;
		}

.font-title{
	font-family: Courgette;
}
.load{
	background-color: #fff;
	height:200px;
	width:200px;
	display: flex;
}
.load p{
	position: relative;
}
.load p img{
	position: absolute;
	top: 50%;
	left: 50%;
}
.absent{
	background: #db7e7e!important;
}
.turn{
	color: #fff;
	border:2px solid green;
	/*background-color: #32a852;	*/
}
/*setting ko ccollapse card*/
.card{
	background: transparent;

}
.card button{
	color:#fff;
	text-decoration: underline;
}
.txt{
	position: relative;
}
.txt i{
	position: absolute;
	left: 90px;
	top:30px;
}
.give_loan_back_amount,.intrest_month{
	width:230px;
}